<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <servlet>
        <servlet-name>RecipesDispatcherServlet</servlet-name>
        <servlet-class>ru.rapapum.recipes.dispatcher.RecipesDispatcherServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>RecipesDispatcherServlet</servlet-name>
        <url-pattern>/recipes/*</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>WEB-INF/pages/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
